@mixin line-1px-top {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		border-top: 1px solid var(--color-line);
		transform: scaleY(0.5);
	}
}

@mixin line-1px-top {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		border-top: 1px solid var(--color-line);
		transform: scaleY(0.5);
	}
}
