// color
// todo 需要重新定义
// $color-background: #ddd;
$color-background: #aaa;
$color-background-d: rgba(0, 0, 0, 0.3);
// $color-hightlight-background: ;
// $color-dialog-background: ;
// $color-theme: ;
// $color-themed-d: ;
// $color-sub-theme: ;
// $color-text: ;
// $color-text-d: ;
// $color-text-l: ;
// $color-text-ll: ;

// font
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
